@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

:root {
  /* colors */
  --text: #121734;
  --background: #010101;
  --background-secondary: #cfcfc9;

  /* sizes */
  --xx-large: 6.85vw;
  --x-large: 4.236vw;
  --large: 2.617vw;
  --medium: 1.618vw;
  --small: 1vw;

  /* text */
  --header: 4.236vw;
  --standard: 1.618vw;
}

*,
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  line-height: 1.4;
  text-rendering: geometricprecision;
  -webkit-font-smoothing: antialiased;
}

a:link {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

a:visited {
  text-decoration: inherit;
  color: inherit;
  cursor: auto;
}

h1 {
  font-size: var(--header);
  font-weight: 800;
}

h2 {
  font-size: var(--header);
  font-weight: 800;
  opacity: 0.7;
}

h3 {
  font-size: var(--standard);
  font-weight: 800;
}

h4,
span,
p {
  font-size: var(--standard);
  font-weight: 300;
}

h5 {
  font-size: var(--standard);
  opacity: 0.7;
  font-weight: 300;
}

ion-item>ion-icon,
ion-item>span {
  display: inline-block;
  vertical-align: -webkit-baseline-middle;
}

.contacts {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: var(--medium);
  grid-row-gap: var(--medium);
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

ion-icon {
  font-size: var(--standard);
}

.container {
  display: flex;
  flex-direction: row;
  padding: var(--x-large);
  gap: var(--x-large);
}

.timeline {
  flex: 1
}

.parent {
  flex: 1.618;

  width: 100%;
  display: flex;
  flex-direction: column;

  position: sticky;
  position: -webkit-sticky;
  align-self: flex-start;
  top: 50vh;
  gap: var(--large);

  margin-top: calc(50vh - var(--x-large));
  transform: translateY(-50%);
}

.header {
  display: flex;
  flex-direction: row;
  gap: var(--medium)
}

.header>img {
  height: calc(2 * 1.4 * var(--header));
}

body::-webkit-scrollbar {
  display: none;
}

.title {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: var(--medium);
}

.icon {
  /* height: var(--xx-large); */
  height: calc(3 * 1.4 * var(--standard));
  aspect-ratio: 1;
}

.icon.radius {
  border-radius: calc(3 * 1.4 * var(--standard) / 6.4);
}

.timeline ul {
  list-style-type: none;
  padding-bottom: - var(--medium);
}

.timeline ul a {
  text-decoration: none;
  color: var(--text);
}

.timeline ul a span.date {
  color: var(--text-secondary);
}

.timeline ul li {
  box-shadow: rgba(0, 0, 0, 0.1) 0px var(--medium) 27px calc(-1 * var(--small));
  margin-bottom: var(--large);
  border-radius: var(--small);
  padding: var(--medium) var(--medium);
  position: relative;
  cursor: pointer;
  transition: 0.5s;
}

.timeline ul li.secondary {
  box-shadow: none;
  background: none;
}

.timeline ul li span {
  display: flex;
  flex-direction: row;
  gap: var(--small);
  align-items: center;
}

.timeline ul li .content p {
  padding: var(--small) 0px 0px 0px;
}

.timeline ul li:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0px var(--medium) 27px calc(-1 * var(--small));
}

.timeline ul li.secondary:hover {
  box-shadow: none;
}

@media (max-width: 800px) {
  :root {
    --xx-large: 11.089vw;
    --x-large: 6.85vw;
    --large: 4.236vw;
    --medium: 2.617vw;
    --small: 1.618vw;

    --header: 6.85vw;
    --standard: 2.617vw;
  }

  .container {
    flex-direction: column;
  }

  .parent {

    display: flex;
    position: relative;
    align-self: flex-start;

    top: 0;
    margin-top: 0;
    transform: none;
  }
}

@media (max-width: 500px) {
  :root {
    --xx-large: 11.089vw;
    --x-large: 6.85vw;
    --large: 4.236vw;
    --medium: 2.617vw;
    --small: 1.618vw;

    --header: 6.85vw;
    --standard: 4.236vw;
  }

  ion-item>ion-icon {
    vertical-align: middle;
  }

  ion-item>span {
    display: none;
  }

  .contacts {
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: var(--medium);
    grid-row-gap: var(--medium);
  }

  .contacts>a>ion-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--xx-large);
    border-radius: calc(var(--xx-large) / 6.4);
    box-shadow: rgba(0, 0, 0, 0.1) 0px var(--medium) 27px calc(-1 * var(--small));
  }
}